* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
}

input {
    color: grey;
    font-size: 1.2rem;
    width: 100%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}

.card {
    align-content: center;
    background-color: lemonchiffon;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
}

.card p {
    padding: 5px;
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card img {
    max-height: 190px;
}

